<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md.manage.mapper.LaboratorySheetMapper" >

    <resultMap id="BaseResultMap" type="com.md.manage.domain.LaboratorySheet" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="patient_id" property="patientId" jdbcType="INTEGER" />
        <result column="hr_id" property="doctorId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="suggest" property="suggest" jdbcType="VARCHAR" />
        <result column="system_suggest" property="systemSuggest" jdbcType="VARCHAR" />
        <result column="organ_id" property="organId" jdbcType="INTEGER" ></result>
        <result column="create_time" property="createTime"  />
        <result column="update_time" property="updateTime"  />
    </resultMap>

    <resultMap id="WithPatientAndDoctorResultMap" type="com.md.manage.domain.LaboratorySheet" >
        <id column="ls_id" property="id" jdbcType="INTEGER" />
        <result column="ls_patient_id" property="patientId" jdbcType="INTEGER" />
        <result column="ls_hr_id" property="doctorId" jdbcType="INTEGER" />
        <result column="ls_status" property="status" jdbcType="INTEGER" />
        <result column="ls_suggest" property="suggest" jdbcType="VARCHAR" />
        <result column="ls_system_suggest" property="systemSuggest" jdbcType="VARCHAR" />
        <result column="ls_organ_id" property="organId" jdbcType="INTEGER" />
        <result column="ls_create_time" property="createTime"  />
        <result column="ls_update_time" property="updateTime"  />
        <association property="patient" javaType="com.md.manage.domain.Patient">
            <id column="p_id" property="id" jdbcType="INTEGER" />
            <result column="p_name" property="name" jdbcType="VARCHAR" />
            <result column="p_id_card" property="idCard" jdbcType="VARCHAR" />
            <result column="p_phone" property="phone" jdbcType="VARCHAR" />
        </association>
        <association property="doctor" javaType="com.md.manage.domain.Hr">
            <id column="d_id" property="id" jdbcType="INTEGER" />
            <result column="d_name" property="name" jdbcType="VARCHAR" />
        </association>
    </resultMap>



    <sql id="Base_Column_List" >
        id, patient_id, hr_id, status, suggest, create_time,update_time,system_suggest,organ_id
    </sql>

    <sql id="With_PatientAndDoctor_Column_List" >
        ls.id ls_id, ls.patient_id ls_patient_id, ls.hr_id ls_hr_id,ls.system_suggest ls_system_suggest,
        ls.status ls_status, ls.suggest ls_suggest, ls.create_time ls_create_time,ls.organ_id ls_organ_id,
        ls.update_time ls_update_time,
        p.id p_id, p.name p_name,p.id_card p_id_card,p.phone p_phone,
        d.id d_id, d.name d_name
    </sql>


    <insert id="insert" parameterType="com.md.manage.domain.LaboratorySheet" useGeneratedKeys="true" keyProperty="id">
        insert into `laboratory_sheet`
        (patient_id,hr_id,status,suggest,create_time,update_time,system_suggest,organ_id)
        values
        (#{patientId},#{doctorId},#{status},#{suggest},#{createTime},#{updateTime},#{systemSuggest},#{organId})
    </insert>


    <select id="getListByPageAndDoctor"   resultMap="WithPatientAndDoctorResultMap">
        select <include refid="With_PatientAndDoctor_Column_List" /> from `laboratory_sheet` ls
        left join `patient` p on ls.patient_id = p.id
        left join `hr` d on ls.hr_id = d.id
        <where>
            ls.hr_id = #{doctorId}
            <if test="organId!=null">
                and ls.organ_id = #{organId}
            </if>
        </where>
        order by ls.status asc,ls.id desc
        <if test="page!=null">
            limit #{page.offset},#{page.pageSize}
        </if>
    </select>
    <select id="getListByPageAndPatient"   resultMap="WithPatientAndDoctorResultMap">
        select <include refid="With_PatientAndDoctor_Column_List" /> from `laboratory_sheet` ls
        left join `patient` p on ls.patient_id = p.id
        left join `hr` d on ls.hr_id = d.id
        <where>
            ls.patient_id = #{patientId}
            <if test="organId!=null">
                and ls.organ_id = #{organId}
            </if>
        </where>
        order by ls.id asc
        <if test="page!=null">
            limit #{page.offset},#{page.pageSize}
        </if>
    </select>

    <select id="findAll"  resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from `laboratory_sheet`
    </select>


    <select id="countByDoctorId" parameterType="java.lang.Integer" resultType="java.lang.Long">
        select count(0) from `laboratory_sheet`
        <where>
            hr_id =#{doctorId}
        </where>
    </select>
    <select id="countByPatientId" parameterType="java.lang.Integer" resultType="java.lang.Long">
        select count(0) from `laboratory_sheet`
        <where>
            patient_id =#{patientId}
        </where>
    </select>


    <update id="setSuggest">
        update `laboratory_sheet`
        <trim prefix="set" suffixOverrides=",">
        <if test="suggest!=null">suggest = #{suggest},</if>
        <if test="status!=null">status = #{status}</if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>