<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md.manage.mapper.LaboratorySheetMapper" >

    <resultMap id="BaseResultMap" type="com.md.manage.domain.LaboratorySheet" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="patient_id" property="patientId" jdbcType="INTEGER" />
        <result column="hr_id" property="doctorId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="suggest" property="suggest" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime"  />
        <result column="update_time" property="updateTime"  />
    </resultMap>

    <resultMap id="WithPatientAndDoctorResultMap" type="com.md.manage.domain.LaboratorySheet" >
        <id column="ls_id" property="id" jdbcType="INTEGER" />
        <result column="ls_patient_id" property="patientId" jdbcType="INTEGER" />
        <result column="ls_hr_id" property="doctorId" jdbcType="INTEGER" />
        <result column="ls_status" property="status" jdbcType="INTEGER" />
        <result column="ls_suggest" property="suggest" jdbcType="VARCHAR" />
        <result column="ls_create_time" property="createTime"  />
        <result column="ls_update_time" property="updateTime"  />
        <association property="patient" javaType="com.md.manage.domain.Patient">
            <id column="p_id" property="id" jdbcType="INTEGER" />
            <result column="p_name" property="name" jdbcType="VARCHAR" />
        </association>
        <association property="doctor" javaType="com.md.manage.domain.Hr">
            <id column="d_id" property="id" jdbcType="INTEGER" />
            <result column="d_name" property="name" jdbcType="VARCHAR" />
        </association>
    </resultMap>


    <sql id="Base_Column_List" >
        id, patient_id, hr_id, status, suggest, create_time,update_time
    </sql>

    <sql id="With_PatientAndDoctor_Column_List" >
        ls.id ls_id, ls.patient_id ls_patient_id, ls.hr_id ls_hr_id,
        ls.status ls_status, ls.suggest ls_suggest, ls.create_time ls_create_time,
        ls.update_time ls_update_time,
        p.id p_id, p.name p_name,
        d.id d_id, d.name d_name
    </sql>



    <select id="findAll" resultMap="WithPatientAndDoctorResultMap">
        select <include refid="With_PatientAndDoctor_Column_List" /> from `laboratory_sheet` ls
        left join `patient` p on ls.patient_id = p.id
        left join `hr` d on ls.hr_id = d.id
    </select>


</mapper>