<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md.manage.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.md.manage.domain.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="component" property="component" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="order_path" property="orderPath" jdbcType="VARCHAR"></result>
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, path, component, name, parent_id, status,order_path
  </sql>
  <sql id="Insert_Column_List" >
    url, path, component, name, parent_id, status
  </sql>
  <select id="getMenuById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `menu`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getMenuByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from `menu`
    where name = #{name}
  </select>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.md.manage.domain.Menu">
    insert into `menu`(<include refid="Insert_Column_List" />)
    values(#{url},#{path},#{component},#{name},#{parentId},#{status})
  </insert>
  <update id="setOrderPath" >
    update `menu`
    <if test="orderPath!=null">set order_path=#{orderPath}</if>
    where id = #{id}
  </update>

  <update id="update" parameterType="com.md.manage.domain.Menu">
    update `menu` set
    <if test="url!=null"> url=#{url} , </if>
    <if test="path!=null"> path=#{path} , </if>
    <if test="component!=null"> component=#{component} , </if>
    <if test="name!=null"> name=#{name} , </if>
    <if test="parentId!=null"> parent_id=#{parentId} , </if>
    <if test="status!=null"> status=#{status} ,</if>
    <if test="orderPath!=null"> order_path=#{orderPath} </if>
    where id = #{id}
  </update>

  <update id="delete" parameterType="java.lang.Integer">
    update `menu` set status=2 where id = #{id}
  </update>

  <select id="getMenuList" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from `menu`
    <if test="offset!=null and number != null">
       limit #{offset},#{number}
    </if>
  </select>
</mapper>