<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md.manage.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.md.manage.domain.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="component" property="component" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="order_path" property="orderPath" jdbcType="VARCHAR"></result>
  </resultMap>

  <resultMap id="AssociationRoleResultMap" type="com.md.manage.domain.Menu" >
    <id column="m.id" property="id" jdbcType="INTEGER" />
    <result column="m.url" property="url" jdbcType="VARCHAR" />
    <result column="m.path" property="path" jdbcType="VARCHAR" />
    <result column="m.component" property="component" jdbcType="VARCHAR" />
    <result column="m.name" property="name" jdbcType="VARCHAR" />
    <result column="m.parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="m.status" property="status" jdbcType="INTEGER" />
    <result column="m.order_path" property="orderPath" jdbcType="VARCHAR"></result>
  </resultMap>

  <resultMap id="AssociationParentResultMap" type="com.md.manage.domain.Menu" >
    <id column="m_id" property="id" jdbcType="INTEGER" />
    <result column="m_url" property="url" jdbcType="VARCHAR" />
    <result column="m_path" property="path" jdbcType="VARCHAR" />
    <result column="m_component" property="component" jdbcType="VARCHAR" />
    <result column="m_name" property="name" jdbcType="VARCHAR" />
    <result column="m_parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="m_status" property="status" jdbcType="INTEGER" />
    <result column="m_order_path" property="orderPath" jdbcType="VARCHAR"></result>
    <association property="parent" javaType="com.md.manage.domain.Menu" >
      <id column="p_id" property="id" jdbcType="INTEGER" />
      <result column="p_url" property="url" jdbcType="VARCHAR" />
      <result column="p_path" property="path" jdbcType="VARCHAR" />
      <result column="p_component" property="component" jdbcType="VARCHAR" />
      <result column="p_name" property="name" jdbcType="VARCHAR" />
      <result column="p_parent_id" property="parentId" jdbcType="INTEGER" />
      <result column="p_status" property="status" jdbcType="INTEGER" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, path, component, name, parent_id, status,order_path
  </sql>
  <sql id="Association_Role_Column_List" >
    m.id, m.url, m.path, m.component, m.name, m.parent_id, m.status,m.order_path
  </sql>
  <sql id="Association_Parent_Column_List" >
    m.id m_id, m.url m_url, m.path m_path, m.component m_component,
    m.name m_name, m.parent_id m_parent_id, m.status m_status,m.order_path m_order_path,
    p.id p_id, p.url p_url, p.path p_path, p.component p_component,
    p.name p_name, p.parent_id p_parent_id, p.status p_status,p.order_path p_order_path
  </sql>
  <sql id="Insert_Column_List" >
    url, path, component, name, parent_id, status
  </sql>
  <select id="getMenuById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `menu`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getMenuByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from `menu`
    where name = #{name}
  </select>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.md.manage.domain.Menu">
    insert into `menu`(<include refid="Insert_Column_List" />)
    values(#{url},#{path},#{component},#{name},#{parentId},#{status})
  </insert>
  <update id="setOrderPath" >
    update `menu`
    <if test="orderPath!=null">set order_path=#{orderPath}</if>
    where id = #{id}
  </update>

  <update id="update" parameterType="com.md.manage.domain.Menu">
    update `menu` set
    <if test="url!=null"> url=#{url} , </if>
    <if test="path!=null"> path=#{path} , </if>
    <if test="component!=null"> component=#{component} , </if>
    <if test="name!=null"> name=#{name} , </if>
    <if test="parentId!=null"> parent_id=#{parentId} , </if>
    <if test="status!=null"> status=#{status} ,</if>
    <if test="orderPath!=null"> order_path=#{orderPath} </if>
    where id = #{id}
  </update>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from  `menu`  where id = #{id}
  </delete>

  <delete id="deleteMenuRole" parameterType="java.lang.Integer">
    delete from  `role_menu`  where mid = #{id}
  </delete>

  <select id="getMenuList" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from `menu`
    <if test="offset!=null and number != null">
       limit #{offset},#{number}
    </if>
    where status !=2
  </select>


  <select id="findAll" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from `menu`
  </select>

  <select id="findAllWithParent" resultMap="AssociationParentResultMap" >
    select <include refid="Association_Parent_Column_List" /> from `menu` m
    left join `menu` p on m.parent_id = p.id
  </select>

  <select id="getMenusByRoles" resultMap="BaseResultMap"  parameterType="java.util.List">
    select <include refid="Association_Role_Column_List" />
    from `menu` m
    left join `role_menu` rm on m.id=rm.mid
    left join `role` r on r.id = rm.rid
    <if test="ids != null">
      <where>
        r.id
        <foreach  collection="ids" item="id" open="in(" close=") and " separator="," >
          #{id}
        </foreach>
        m.status = 1
      </where>
    </if>
    order by m.order_path asc
  </select>
</mapper>