<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.md.manage.mapper.PatientMapper" >
    <resultMap id="BaseResultMap" type="com.md.manage.domain.Patient" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="status"  property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime"  />
        <result column="update_time" property="updateTime"  />
    </resultMap>


    <sql id="Base_Column_List" >
        id, name, phone, address, id_card, status, create_time, update_time
    </sql>


    <insert id="insert" parameterType="com.md.manage.domain.Patient" useGeneratedKeys="true" keyProperty="id">
        insert into `patient`
        (name,phone,address,id_card,status,create_time,update_time)
        values
        (#{name},#{phone},#{address},#{idCard},#{status},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.md.manage.domain.Patient">
        update `patient` set
        <if test="name!=null"> name=#{name}</if>
        <if test="phone!=null"> ,phone=#{phone}</if>
        <if test="address!=null"> ,address=#{address}</if>
        <if test="idCard!=null"> ,id_card=#{idCard}</if>
        <if test="status!=null"> ,status=#{status}</if>
        <if test="createTime!=null"> ,create_time=#{createTime}</if>
        <if test="updateTime!=null"> ,update_time=#{updateTime}</if>
        where id= #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from `patient` where id=#{id}
    </delete>


    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from `patient`
    </select>

    <select id="getAllPatient" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from `patient`  where status=1
    </select>


</mapper>